<ul class="breadcrumb">
	<f:for each="{menuBreadcrumb}" as="menuItem" iteration="item">
		<li class="{menuItem.class} {f:if(condition:'{menuItem.hasSubpages}', else:'active')}">
			<f:if condition="{item.isLast}">
				<f:then>
					{menuItem.title}
				</f:then>
				<f:else>
					<f:link.page pageUid="{menuItem.data.uid}">
						{menuItem.title}
					</f:link.page>
				</f:else>
			</f:if>
		</li>
	</f:for>
</ul>