<f:if condition="{languagenavigation}">
	<ul id="language_menu" class="language-menu">
		<f:for each="{languagenavigation}" as="item">
			<li class="{f:if(condition: item.active, then: 'active')} {f:if(condition: item.available, else: 'text-muted')}">
				<f:if condition="{item.available}">
					<f:then>
						<a href="{item.link}" hreflang="{item.hreflang}" title="{item.title}">
							<span>{item.navigationTitle}</span>
						</a>
					</f:then>
					<f:else>
						<span>{item.navigationTitle}</span>
					</f:else>
				</f:if>
			</li>
		</f:for>
	</ul>
</f:if>