<f:layout name="default" />

<f:section name="content">
	<h1>Home Page</h1>
	<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
	<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
</f:section>
